.page-header h1 {
    padding: 15px 0;
}

.page-header small:last-child {
    color: gray;
}

.page-content {
    line-height: 1.5;
    text-align: justify;
}

object svg {
    fill: white;
}

section[id]:before, a[id^="fnref"]:before, .footnotes li[id^="fn"]:before, h1[id]:before, h2[id]:before, h3[id]:before, h4[id]:before, h5[id]:before, h6[id]:before, a[id]:before {
    display: block;
    position: relative;
    margin-top: -75px;
    height: 75px;
    visibility: hidden;
}

body {
    padding-top: 70px;
    position: relative;
    line-height: 1.15;

    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 1rem;
    line-height: 1.5;
}

ul#socials {
    text-align: left;
    display: inline;
    padding-left: 7px;
}

ul#socials > li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 7px;
}

ul#socials > li#facebook {
    margin-top: -10px;
}

ul#socials > li#hatena-star {
    margin-top: -10px;
}

ul#socials > li:first-child {
    margin-left: 0;
}

ul#socials > li:last-child {
    margin-right: 0;
}

ul#socials iframe {
    margin: 0 !important;
}

@media screen and (max-width: 780px){
    ul#socials > li{
	width: 80px !important;
	margin: 0 7px 10px 0;
    }
}

@media screen and (min-width: 780px){
    #side-toc {
	font-size: small;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6
{
    font-family: 'Helvetica Neue', Helvetica, 'Arial', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
    font-weight: 600;
    line-height: 1.1;

    margin-bottom: .5rem;

    color: inherit;
}

h1,
.h1
{
    font-size: 2.5rem;
}

h2,
.h2
{
    font-size: 2rem;
}

h3,
.h3
{
    font-size: 1.75rem;
}

h4,
.h4
{
    font-size: 1.5rem;
}

h5,
.h5
{
    font-size: 1.25rem;
}

h6,
.h6
{
    font-size: 1rem;
}

.lead
{
    font-size: 1.25rem;
    font-weight: 300;
}

.display-1
{
    font-size: 6rem;
    font-weight: 300;
}

.display-2
{
    font-size: 5.5rem;
    font-weight: 300;
}

.display-3
{
    font-size: 4.5rem;
    font-weight: 300;
}

.display-4
{
    font-size: 3.5rem;
    font-weight: 300;
}
