<dt><a href="{{url}}">{{title}}</a>
{{#pdf}} [<a onclick="ga('send', 'event', 'download', 'ac', '{{.}}')" href="{{.}}">PDF版</a>]{{/pdf}} - {{date}}
<span class="star-here"></span>
</dt>
<dd>{{& description }}</dd>