.page-header h1 {
    padding: 15px 0;
}

.page-header small:last-child {
    color: gray;
}

.page-content {
    line-height: 1.5;
    text-align: justify;
}

object svg {
    fill: white;
}

.page-content *[id]:not(li[id^="fn"]):before {
    content: '';
    width: 0px;
    padding-top: 80px;
    margin-top: -80px;
    display: inline-block; /* required for webkit browsers */
    visibility: hidden;
}

li[id^="fn"]:before {
    content: '';
    width: 0px;
    padding-top: 80px;
    margin-top: -80px;
    display: inline-block; /* required for webkit browsers */
    visibility: hidden;
} 

li[id^="fn"] p:first-of-type {
    display: inline;
}

body {
    padding-top: 70px;
    position: relative;
    line-height: 1.15;

    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 1rem;
    line-height: 1.5;
}

ul[id^="socials"] {
    text-align: left;
    display: inline;
    padding-left: 7px;
}

ul[id^="socials"] > li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 7px;
}

ul[id^="socials"] > li[id^="facebook"] {
    margin-top: -10px;
}

ul[id^="socials"] > li[id^="hatena-star"] {
    margin-top: -10px;
}

ul[id^="socials"] > li.hatena-star {
    margin-top: -10px;
}

ul[id^="socials"] > li:first-child {
    margin-left: 0;
}

ul[id^="socials"] > li:last-child {
    margin-right: 0;
}

ul[id^="socials"] iframe {
    margin: 0 !important;
}

@media screen and (max-width: 780px){
    ul[id^="socials"] > li{
	width: 80px !important;
	margin: 0 7px 10px 0;
    }
}

@media screen and (min-width: 780px){
    #side-toc {
	font-size: small;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6
{
    font-family: 'Helvetica Neue', Helvetica, 'Arial', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
    font-weight: 600;
    line-height: 1.1;

    margin-bottom: .5rem;

    color: inherit;
}

h1,
.h1
{
    font-size: 2.5rem;
}

h2,
.h2
{
    font-size: 2rem;
}

h3,
.h3
{
    font-size: 1.75rem;
}

h4,
.h4
{
    font-size: 1.5rem;
}

h5,
.h5
{
    font-size: 1.25rem;
}

h6,
.h6
{
    font-size: 1rem;
}

.lead
{
    font-size: 1.25rem;
    font-weight: 300;
}

.display-1
{
    font-size: 6rem;
    font-weight: 300;
}

.display-2
{
    font-size: 5.5rem;
    font-weight: 300;
}

.display-3
{
    font-size: 4.5rem;
    font-weight: 300;
}

.display-4
{
    font-size: 3.5rem;
    font-weight: 300;
}

.pull-right, .pull-left {
    margin: 1em;
}

.blockquote {
    padding: .5rem 1rem;
    border-left: .25rem solid #eceeef;
}

pre {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: solid gray;
}

ul#refs {
    list-style: none;
    font-size: small;
    width: 100%;
}

ul#refs > li {
    display: table;
    clear: both;
    content: "";
}

ul#refs span.ref-label {
    vertical-align: top;
    padding-right: 1em;
    width: 1.5em;
    text-align: right;
    display: table-cell;
}

ul#refs span.ref-body {
    vertical-align: top;
    display: table-cell;
    width: auto;
}

#old-bookmark-numbers {
    font-size: small;
    color: #ff4166;
    font-weight: bold;
    vertical-align: center;
    display: inline-block;
    border-bottom: solid 2px red;
    margin-bottom: 10px;
    padding-left:  3px;
    padding-right: 3px;
}

section#disqus_area {
    margin-top: 15px;
    margin-bottom: 20px;
}

footer {
    text-align: right;
    margin: 20px;
}

.col-fixed {
    float: left;
    width: 128px;
}

.card-title a {
    color: black;
}

.card-title a:hover {
    text-decoration: underline;
}

.gather-card {
    display: inline-block;
}


.log {
    border-bottom: solid 2pt black;
}


.log-body {
    border-top: solid 1pt gray;
}
